<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="conexionMariaDB" value="datasource=172.108.17.3;port=3312;username=alpura;password=Alpura#2018;database=biostar_tna;" />
    <add key="conexionWSAlpura" value="http://soa.alpura.com:17005/ALP_RH_CHECADORES_SB/BiostarSirhalRS/" />
    <add key="minutosSyncRango" value="-120" />
    <add key="LogTxt" value="false" />
  </appSettings>
</configuration>